body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    background-color: #F5F5DC;
    color: white;
}

/* header */
header {
   padding: 20px;
   padding-bottom: 10px;
   padding-top: 10px;
   background-color: #582F0E;
   color: white;
}

header a {
    color: white;
    text-decoration: none;
}

.contenutoheader {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

nav ul {
    list-style: none;
    margin: 0;
    padding: 0;
}

nav li {
    display: inline;
    margin-left: 20px;
}

h1 {
    font-size: 32px;
    margin: 0;
}

/*herosection */

.herosection {
    position: relative;
    width: 100%;
    height: 200px;
    overflow: hidden;
   
}

.image {
    width: 100%; 
    height: 100%; 
    object-fit: cover; 
}

.overlay {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.4);
    z-index: 1; 
}

.herosection {
    margin-bottom: 100px;
}
.contenutohero {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center; 
    align-items: center; 
    text-align: center; 
    z-index: 2; 
    flex-direction: column; 
    gap: 10px; 
}

/* intro */

.intro {
    width: 500px;
    color: black;
    display: flex;
    margin-left: 150px;
    margin-bottom: 170px;
    border-left: 3px solid #A68A64;
    padding-left: 10px;
}

/* Gran Paradiso */

.boxgrandp{
    max-width: 1000px;
    margin: auto;
    color: black;
    margin-bottom: 150px;
}
h3 {
    font-size: 24px;
    font-weight: bold;
}
.contenutogranp {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}
.testogranp {
    flex: 1;
}
.stambecco {
    width: 300px;
    height: auto;
    margin-top: 50px;
}




/* Etna */

.boxetna {
    max-width: 1000px;
    margin: auto;
    color: black;
    margin-bottom: 150px;
    
}
h3 {
    font-size: 24px;
    font-weight: bold;
}
.contenutoetna {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}
.testoetna {
    flex: 1;
}
.volpe {
    width: 300px;
    height: auto;
    margin-top: 50px;
}


/* Dolomiti */

.boxdolomiti {
    max-width: 1000px;
    margin: auto;
    color: black;
    margin-bottom: 150px;
    
}
h3 {
    font-size: 24px;
    font-weight: bold;
}
.contenutodolomiti {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}
.testodolomiti {
    flex: 1;
}
.camoscio {
    width: 300px;
    height: auto;
    margin-top: 50px;
}


/* Pollino */

.boxpollino {
    max-width: 1000px;
    margin: auto;
    color: black;
    margin-bottom: 150px;
    
}
h3 {
    font-size: 24px;
    font-weight: bold;
}
.contenutopollino {
    display: flex;
    flex-direction: row;
    gap: 50px;
    align-items: flex-start;
}
.testopollino {
    flex: 1;
}
.lupo {
    width: 300px;
    height: auto;
    margin-top: 50px;
}


/* footer */
footer {
    background-color: #582F0E;
    color: white;
    padding: 20px;
}

footer p{
    font-weight: bolder;
}
.contatti a{
    color: white;
    text-decoration: none;
}

.contenutofooter {
    display: flex;
    justify-content: space-between;
}

.contatti ul {
    list-style: none;
    padding: 0;
}

.contatti li {
    display: inline;
    margin-right: 20px;
}


@media (max-width: 600px) {
   
    /* Header */
    .contenutoheader {
        flex-direction: column;
        align-items: center;
      }
    
      nav ul {
        display: flex;
        flex-direction: column;
        align-items: center;
        gap: 10px;
      }

      .herosection {
        height: 300px;
    }
    
    /* INTRODUZIONE */
    
    .intro {
        width: 450px;
       margin-left: 10px;
    }

/* Gran Paradiso */

.boxgrandpff {
    max-width: 450px;
    margin: 20px;
}

.contenutogranpff {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.stambecco {
    margin-left: 60px;
}

/* Etna */

.boxetnaff {
    max-width: 450px;
    margin: 20px;
}

.contenutoetnaff {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.volpe {
    margin-left: 60px;
}


/* Dolomiti */

.boxdolomitiff {
    max-width: 450px;
    margin: 20px;
}

.contenutodolomitiff {
    display: flex;
    flex-direction: column;
    gap: 20px;
}


.camoscio {
    margin-left: 60px;
}


/* Pollino */

.boxpollinoff {
    max-width: 450px;
    margin: 20px;
    
}

.contenutopollinoff {
    display: flex;
    flex-direction: column;
    gap: 20px;
}

.lupo {
    margin-left: 60px;
}


    /* Footer */
    .contenutofooter {
        flex-direction: column;
        align-items: center;
        text-align: center;
    }

    .contatti ul {
        padding: 0;
        text-align: center;
    }

    .contatti li {
        display: block;
        margin: 10px 0;
    }
}